<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="bmc.ico">
    <title>Article Title</title>
    <link rel="stylesheet" href="/public/css/article.css">
    <link rel="icon" href="/bmc.ico" type="image/x-icon">
</head>
<body>

    <div id="header">
        <a href="/index.html">
            <img src="/public/img/logo.png" alt="Blue Man Cards Logo">
            <div id="right">
                <a href="/index.html" class="navLinks">All&nbsp;Articles</a>
                <a href="https://bluemancards.etsy.com/listing/1488094245" target="_blank" class="navLinks">Shop</a>
            </div>
        </a>
    </div>
    
    <div id="title_banner">
        <div id="titles">
            <h1 class="title">{{ title }}</h1>
            <h1 class="subtitle">Manifesting Strength in Constructive Ways</h1>
        </div>
        <img src="{{imgL}}" class="background_img" alt="{{imgAlt}}" id="large">
        <img src="{{imgM}}" class="background_img" alt="{{imgAlt}}" id="medium">
    </div>
    <main>
        <div id="content">
            <p>{{kid}}</p>
            <p id="thesis"> {{ thesis }}</p>
            {{ content }}
            <ul>
                {% for source in sources %}
                <li> {{ source }}</li>
                {% endfor %}
            </ul>
            <a href="/index.html" id="back_button" ><-- Back&nbsp;to&nbsp;All&nbsp;Articles</a>
        </div>
    
    </main>


    </div>
    <div id="support_info">
        <div class="inline">
            <h2>Hear About New Articles</h2>
            {% include "email-sign-up.html" %}
            <p>You won't get more than 2 emails a month</p>
        </div>
        <div id="shop_box">
            <h2>Get Your Own Man Card</h2>
            <img src="/public/img/4_cropped_for_thumbnail.png" alt="A picture of a Man Card from our Shop.">
            <p>Great for Gifts</p>
            <a href="https://bluemancards.etsy.com/listing/1488094245" target="_blank">Shop BlueManCards</a>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>