<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="bmc.ico">
    <title>Article Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="header">
        <a href="">
            <img src="media/logo.png" alt="Blue Man Cards Logo">
            <div id="right">
                <a href="" class="navLinks">All&nbsp;Articles</a>
                <a href="" class="navLinks">Shop</a>
            </div>
        </a>
    </div>
    
    <div id="title_banner">
        <div id="titles">
            <h1 class="title">{{ title| defualt: "my blog" }}</h1>
            <h1 class="subtitle">Manifesting Strength in Constructive Ways</h1>
        </div>
        <img src="media/Articles/1.png" class="background_img" id="large">
        <img src="media/Articles/1.png" class="background_img" id="small">
        <style>#title_banner .background_img{filter: brightness(.4);} #title_banner #titles{color: rgb(255, 255, 255);}</style>
    </div>

    <div id="content">
        <p id="thesis">It seems like masculinity can be a somewhat controversial topic. Is it detrimental, or should it be encouraged? Much of the contention surrounding this topic comes from simple misunderstandings.</p>
        <h2>What Really is Masculinity</h2>
        <p>Let's talk about something that can be difficult, Masculinity. Many strong opinions exist on the topic, so to avoid any misunderstandings, I think it seems worthwhile to define what we are really talking about.</p>
        <p>A quick google search will give you a definition from the Oxford English Dictionary: “mas·cu·lin·i·ty; noun; qualities or attributes regarded as characteristic of men or boys.” That seems to fit with what we usually think of masculinity as, but there are some details to consider.</p>
        <p>Masculinity may be defined by its relation to men, but it is relevant to everybody. Masculinity has an impact on everyone, either through their actions or the actions of others. Masculinity may relate differently depending on the person and their background, but everyone can have attributes that are masculine in nature.</p>
        <h2>Is Masculinity Bad</h2>
        <p>Today there is much emphasis on “toxic masculinity”. This term has been greatly overused, to the point where it has deviated from its intended meaning. It is true that some masculine tendencies are detrimental and need to be addressed, “toxic masculinity” is used on at least two extremes: 1) To rationalize and excuse harmful behavior, and 2) To shame men unfairly.</p>
        <p>With so much focus on “toxic masculinity”, it is important to note that masculinity itself isn’t toxic. Masculinity isn’t bad. It’s also hard to say that it’s good. Masculine tendencies are more like a tool, which can accomplish good or bad.</p>
        <p>A really great explanation comes from Randy Flood. He wrote an article about masculinity where he says: “It’s perplexing how guys who love a garage full of specific tools for each unique repair often only have a two-pound hammer of anger in their emotional toolbox. To lead fulfilling lives, men require more tools.”</p>
        <p>One of the main points of Floods' article is that masculinity is toxic when it is rigid and inflexible; when we don’t have enough “tools”. In contrast, masculinity is constructive when it is versatile and balanced. When we work to better ourselves and develop new skills, we are embodying constructive masculinity.</p>
        <p>Some attributes to consider are: Strength; manifested in a variety of ways, Resilience; getting up every time you fall, Creativity; finding solutions to difficult problems, Leadership; through service, and Humility; to keep everything in check.</p>
        <h2>Conclusion</h2>
        <p>Masculinity should be a good thing, and it can be if we each pursue it. As we work to improve ourselves, becoming more versatile and balanced, we can positively impact our life, and the lives of everyone around us. The journey to a more constructive masculinity starts anywhere, with anything. Just pick something, learn about it, and live it.</p>
        <h2>Sources</h2>
        <ul>
            <li><a href="https://www.google.com/search?q=define+masculinity&oq=define+mascu&aqs=chrome.0.35i39i650j69i57j0i20i263i512j0i512l4j0i10i512l2j0i512.2819j0j7&sourceid=chrome&ie=UTF-8" target="_blank">Masculinity, Googles' Definition</a></li>
            <li><a href="https://menscenter.org/toxic-masculinity/" target="_blank">Talking About “Toxic Masculinity”, Randy Flood</a></li>
        </ul>
        <a href="" id="back_button" ><-- Back to All Articles</a>
    </div>
    <div id="support_info">
        <p id="p">To support our brand and our message, share our content. Also check out our <a href="">shop</a>. Getting a Blue Man Card supports us, while serving as a physical symbol of your commitment to bettering yourself as a man.</p>
        <div id="shop_box">
            <a href="">
            <img src="media/4_cropped_for_thumbnail.png" alt="A picture of a Man Card from our Shop.">
            <p>Shop Blue Man Cards</p>
            </a>
        </div>
    </div>
    <div id="footer">
        <div id="links">
            <a href="">Blog</a>
            <a href="">Store</a>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Contact</a>
        </div>
        <div id="fine_text">
            <a href="">&#169; Blue&nbsp;Man&nbsp;Cards&nbsp;2023</a>
            <a href="https://www.privacypolicygenerator.info/live.php?token=VpmuLnttQ2225PS5vsQm8Az3uXaUv6ZL" target="_blank">Privacy&nbsp;Policy</a>
            <a href="https://www.termsofservicegenerator.net/live.php?token=P73EH1psirTeVzVV2cwvjpQ4ru3ZDSqO" target="_blank">Terms&nbsp;of&nbsp;Service</a>
        </div>
    </div>
</body>
</html>