<div id="formContainer">
    <form id="email_form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>

<script>
    const form = document.getElementById('email_form');

    form.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the form from submitting

    // Get the form data
    const formData = {
        email: document.getElementById("email").value.toLowerCase()
    }


    // Send the form data to the server using fetch
    fetch('http://localhost:3000/submit', {
        method: 'POST',
        body: JSON.stringify(formData), 
        headers: {
            'Content-Type': 'application/json',
            'Access-Control-Allow-Origin': '*',
            'Origin': 'http://localhost:8080'
        }
    })

    // Handle the response from the server
    .then((response) => response.json())
    .then((data) => {

        form.style.display = "none";
    })
    .catch((error) => {
        console.error('Error:', error);
    });
    });
</script>